* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


#container {
    height: 100%;
    width: 100%;
    background-color: #222;

}

#container1 {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 0px 0px 100% 36% rgba(138, 138, 138, 0.2) inset;
    -moz-box-shadow: 0px 0px 100% 36% rgba(138, 138, 138, 0.2) inset;
    box-shadow: 0px 0px 100% 36% rgba(138, 138, 138, 0.2) inset;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.header1 {
    height: 100%;
    background: url(images/spacejoy-RUvW1KGD9a4-unsplash.jpg);
    z-index: 2;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    background-color: rgb(88, 88, 88);
    -webkit-box-shadow: 3px 4px 100px 100px rgba(34, 34, 34, 1);
    -moz-box-shadow: 3px 4px 100px 100px rgba(34, 34, 34, 1);
    box-shadow: 3px 4px 100px 100px rgba(34, 34, 34, 1);
    padding: 1% 5%;
    border-radius: 0 0 3pc 3pc;
}

.header1_content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header1_content1 .logo1 {
    width: 100px;
    height: 100%;
}

.header1_content1 .p1 {
    font-size: 12px;
}

.header1_content1 .p1::after {
    content: url(images/roller-svgrepo-com.svg);
    position: absolute;
    margin-left: 80px;
    margin-top: -30px;
    text-shadow: 1px 1px 1px;


}

.header1_content1 select {
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    color: white;
}

.header1_content1 select option {
    color: #222;
    background-color: #f80000;
}


.content1_a1 a {
    color: rgb(255, 222, 180);
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px dotted;/
}

.content1_a1 i {
    display: flex;
    justify-content: center;
    color: rgb(255, 222, 180);

}

.content1_a2 a i {
    font-size: 30px;
    border: 1px solid rgb(255, 222, 180);
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.grafik_rabot {
    padding: 0 10px;
}

.grafik_rabot::before {
    content: "●";
    position: absolute;
    font-size: 22px;
    color: rgb(0, 255, 0);
    margin-left: -15px;
    margin-top: -10px;
}

.content1_ul1 {
    padding: 1% 20px;
    margin-top: -20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-blend-mode: multiply;
    background-color: #474747;

}

.content1_ul1 li {
    list-style: none;
}

.content1_ul1 li a {
    color: white;
    text-decoration: none;
}

.content1_ul1 li a:hover {
    color: rgb(255, 222, 180);
}



.header1_content2 {
    padding: 2% 0;
}

.header1_content2 ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header1_content2 ul li {
    list-style: none;
}

.header1_content2 ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

.header1_content2 ul li a:hover {
    color: rgb(255, 222, 180);
}

.header1_content3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
}

.header1_content3_div1 {
    width: 80%;
}

.header1_content3 div {
    margin: 0 10px;
}

.header1_content3 h1 {
    font-size: 50px;
    font-weight: 700;
    opacity: 0;
    animation: fadeIn 2s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header1_content3 h1 span {
    color: rgb(255, 222, 180);
}

.header1_content3_div1_p1 {
    padding: 1% 0;
    color: rgb(255, 222, 180);
    font-size: 18px;

}

.header1_content3_div1_div1 {
    padding: 1% 0;

}

.header1_content3_div1_div1 ul {
    display: flex;
    align-items: center;
}

.header1_content3_div1_div1 img {
    height: 60px;
    width: 60px;
    position: absolute;
    margin-left: -5%;
}

.header1_content3_div1_div1 ul p {
    width: 250px;
    margin: 1% 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
}



.header1_content3_div1_div2 {
    border: 1px solid rgb(255, 222, 180);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: 20px;
    padding: 5%;
    background-blend-mode: multiply;
    backdrop-filter: blur(10px);
    margin-top: 5%;
    color: black;
}

.header1_content3_div1_div2 a {
    color: black;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 15px;
    padding-bottom: 23px;
    text-decoration: none;
    background-color: rgb(255, 214, 160);
    transition: 0.5s;
    -webkit-box-shadow: 1px 10px 13px 1px rgba(32, 18, 0, 1);
    -moz-box-shadow: 1px 10px 13px 1px rgba(32, 18, 0, 1);
    box-shadow: 1px 10px 13px 1px rgba(32, 18, 0, 1);
}

.header1_content3_div1_div2 a:hover {
    transform: scale(1.1);

}

.header1_content3_div1_div2 p {
    width: 300px;
    font-size: 12px;
    color: white;
}


.header1_content3_div2 {
    padding: 1% 1%;
    width: 10%;
    background-blend-mode: multiply;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.header1_content3_div2 p {
    padding: 10px 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.element {
    font-size: 25px;
    color: rgb(255, 214, 160);
    animation: animate 2s linear infinite;
}

.block1 {
    height: 100%;
    background-color: #222;
    padding: 4% 9%;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

}

.block1 .block1_blk1 {
    text-align: center;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

.block1 .block1_blk1 p {
    font-weight: 200;
    padding-top: 15px;
}

.block1 .block1_blk2 {

    font-family: 'Montserrat', sans-serif;
}

.block1_blk2 ul {
    display: flex;
    color: white;
    padding-top: 30px;
    animation: slide-up 2s ease;
}

.block1_blk2 ul li {

    list-style: none;
    padding: 0 25px;
}

.block1_blk2 ul p span {
    font-weight: 500;
    font-size: 18px;
}

.block1_blk3 ul {
    display: flex;
    color: white;
    padding-top: 30px;
    animation: slide-up 2s ease;
}

.block1_blk3 ul li {

    list-style: none;
    padding: 0 25px;
}

.block1_blk3 ul p span {
    font-weight: 500;
    font-size: 18px;
}

.block1_01 {
    display: flex;
    align-items: center;

}

.block1_01 img {
    color: yellow;
    filter: hue-rotate(223deg) blur(0px) grayscale(3%) sepia(0%) saturate(100%) invert(14%) contrast(100%);

}

.block1 #question-container {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.block1 .btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

.block1 .btn:hover {
    background-color: #2980b9;
}

.block2 {
    padding: 1% 2%;
    padding-bottom: 5pc;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #222;
    height: 100%;

}

.block2_1 {
    background-color: #222;
    padding-bottom: 30px;
}

.block2_1 h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    text-align: center;
    animation: slide-up 2s ease;
}

.block2_1 p {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    animation: slide-up 2s ease;
}

.container_img img {
    width: 700px;
    height: 560px;
    border-radius: 20px;
    max-width: 100%;
}

.container_ul1 {
    display: flex;
    justify-content: space-between;
    line-height: 2px;
}

.container_ul2 {
    line-height: 30px;
}

.container_ul1 p {
    font-size: 25px;
    background-color: rgb(255, 222, 180);
    border-radius: 5px;
    padding: 15px 10px;
    color: black;
    box-shadow: -2px 3px 50px -5px rgba(255, 222, 180, 1);
    -webkit-box-shadow: -2px 3px 50px -5px rgba(255, 222, 180, 1);
    -moz-box-shadow: -2px 3px 50px -5px rgba(255, 222, 180, 1);
}

.container_ul2 p {
    font-size: 58px;
    font-weight: 400;
}

.container_ul2 a {
    color: white;
    font-size: 28px;
    transition: 0.54s;
    color: rgb(255, 201, 131);
    box-shadow: -2px 3px 50px -5px rgba(255, 222, 180, 1);
    -webkit-box-shadow: -2px 3px 50px -5px rgba(255, 222, 180, 1);
    -moz-box-shadow: -2px 3px 50px -5px rgba(255, 222, 180, 1);
}

.container_ul2 a i {
    padding: 10px;
}

.container_ul2 a:hover {
    padding-left: 20px;
}

.container_block1 {
    position: absolute;
    bottom: 20px;
    width: 85%;
    font-family: 'Montserrat', sans-serif;
    backdrop-filter: grayscale(50%) blur(7px) sepia(0) saturate(0.3);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    animation: slide-up 2s ease;

}

.container_img {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    border: 1px solid rgb(255, 219, 171);
    border-radius: 20px;
    animation: slide-up 2s ease;


}

.container01 {
    display: flex;
    justify-content: center;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}



.block3 {
    padding: 1% 3%;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

.block3 .blk1_ul1 {
    text-align: center;
    padding: 10px;
}

.block3 .blk1_ul1 p {
    padding: 5px;
}

.block3 .blk1_ul2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.block3 .blk1_ul2 p {
    margin: 0 20px;
    padding: 10px;
    background-color: #eee;
    color: #222;
    font-size: 14px;
    border-radius: 10px;
}

.block3 .blk1_ul3 p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #eee;
    color: #222;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    border-radius: 10px;
}

.block3_blk2 {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.block3_blk2 div {
    border: 1px solid;
    height: 100%;
    width: 100%;
    margin: 15px;
    position: relative;
    border-radius: 15px;
}

.block3_blk2 div img {
    height: 500px;
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
}


.block3_blk2 div h2 {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    padding: 10px;
    text-shadow: 10px;
    color: #ffffff;
    text-shadow: 0px 0px 30px #ffffff, 2px 0px 0px #fafafa;

    backdrop-filter: grayscale(50%) blur(7px) sepia(0) saturate(0.3);
}

.block3 .btn1 {
    position: relative;
    display: flex;
    justify-content: center;

}

.block3 .btn1 button {
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    transition: 0.5s;
    font-size: 20px;
    text-shadow: 0px 0px 30px #ffffff, 2px 0px 0px #fafafa;
}

.block3 .btn1 button:hover {
    transform: scale(1.1);
}

.block4 {
    padding: 50px 0;
    text-align: center;
}

.block4 h1 {
    font-weight: 700;
    padding: 10px;
    color: #ffffff;
}

.block4 .blog_tube {
    display: flex;
    justify-content: center;
}

.block4 .blog_tube div {
    max-width: 100%;
    margin: 20px;

}

.block4 .blog_tube div iframe {
    border-radius: 10px;
    width: 570px;
    height: 322px;
    border: 1px solid black;
}

.block5 {
    display: flex;
    justify-content: center;
    padding: 1% 4%;
    align-items: center;

}


.block5 h1 {
    font-size: 38px;
    text-shadow: 30px 0 0 0;
    font-weight: 700;
}

.block5 p {
    font-size: 20px;
    padding-top: 10px;
}

.block5 .ul1 {
    display: flex;
    justify-content: left;
    position: relative;
    right: 38px;
    padding: 30px;
}

.block5 .ul1 li {
    list-style: none;
    width: 300px;
    text-align: center;
    font-size: 18px;
}

.block5 .ul1 li::before {
    content: "✔";
    padding: 10px;
}


.block5 .ul2 button {
    padding: 15px;
    margin: 0 20px;
    position: relative;
    right: 38px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.5s;

}

.block5 .ul2 .whatsaap {
    background-color: #28D146;
    color: white;
}

.block5 .ul2 .telegram {
    color: white;
    background-color: #229ED9;
}

.block5 .ul2 button:hover {
    transform: scale(1.1);
}

.block5 .blk2 {
    width: 50%;
}




.modal-content2 form {
    padding: 40px;
}

.modal-content2 form .span2 input {
    width: 100%;
    margin-top: 10px;
    padding: 13px;
    border: none;
    border-bottom: 1px solid #222;
    border-radius: 5px;
}

.modal-content2 form button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: 700;
    transition: 0.5s
}

.modal-content2 form button:hover {
    transform: scale(1.1);
}

.modal-content2 form .span2 p {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}



.modal-content2 form .span1 p {
    font-size: 14px;
    text-align: center;
    padding-top: 0;
}

.modal-content2 form .span1 h2 {
    font-size: 24px;
    text-align: center;

}

.block6 .videos {
    display: flex;
    justify-content: center;
    padding: 3% 0;
    align-items: center;
}

.block6 .videos div {
    margin: 0 10px;
    padding-top: 20px;

}

.block6 .videos div iframe {
    width: 303px;
    height: 616px;
    border-radius: 15px;
    border: 1px solid rgba(255, 222, 180, 1);

}

.footer1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;

}



.footer1 .blk1 {
    width: 50%;
}

.footer1 .blk1 h1 {
    font-size: 55px;
    padding-bottom: 20px;
}

.footer1 .blk1 h2 {
    font-size: 25px;
    font-weight: 700;
}

.footer1 .blk1 p {
    font-size: 20px;
}

.footer1 .blk1 .blk1_1 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.footer1 .blk1 .blk1_1 a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.footer1 .blk1 .blk1_1 p {
    font-weight: 500;
    font-size: 18px;
}



.footer1 .blk2 img {
    width: 464px;
    height: 363px;
    border-radius: 5px;
    border: 1px solid rgba(255, 222, 180, 1);
    transition: 0.5s;
}

.footer1 .blk2 img:hover {
    transform: scale(1.1);
}

.footer2 {
    padding: 0% 4%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 10px;
}

.footer2 p {
    font-size: 20px;
}

.footer2 a {
    color: rgba(255, 222, 180, 1);
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s;
}

.footer2 a:hover {
    transform: scale(1.1);
    color: white;
}